<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Dictionary</title>
<!--    <th:block th:replace="~{layout :: link-css}"></th:block>-->
<!--    <th:block th:replace="~{layout :: link-css-layout}"></th:block>-->
</head>
<body>
<!--<th:block th:replace="~{layout :: header}"></th:block>-->



<!--<th:block th:replace="~{layout :: footer}"></th:block>-->
<!--<th:block th:replace="~{layout :: script-js}"></th:block>-->
</body>
</html>