<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>

    <!-- Modal -->
    <div th:fragment="add-new-wordlist (createWordlistForm)" class="modal fade" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add wordlist</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/wordlist/new}" th:object="${createWordlistForm}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" th:field="${createWordlistForm.name}" class="form-control" id="name"
                                   placeholder="Enter name" required>
                        </div>
                        <div class="form-group" hidden="hidden">
                            <label for="description">Description</label>
                            <input type="text" th:field="${createWordlistForm.userId}" class="form-control"
                                   id="description"
                                   placeholder="Enter description">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>