<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Dictionary</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<section class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="10">
        <div class="row justify-content-center">
            <form th:action="@{/word}" class="input-group mb-3 w-75" method="get">
                <div class="input-group">
                    <input name="word" type="search" class="form-control rounded w-50 fs-5" placeholder="Search for any word or phrase..." aria-label="Search"
                           aria-describedby="search-addon"/>
                    <button type="submit" class="btn btn-outline-primary fs-5">search</button>
                </div>
            </form>
        </div>
        <section id="faq" class="faq">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="section-title">
                    <br>
                    <h2><span class="fw-bold text-danger" th:text="${word.getWord()}"></span></h2>
                    <hr>
                    <h4 th:if="${word.getPhonetic() != null}">
                        <span th:text="'Phonetic:' + ' '+ ${word.getPhonetic()}"></span>
                    </h4>
                    <div class="container text-center w-25" th:each="phonetic,i: ${word.getPhonetics()}">
                        <div class="row">
                            <div class="col">
                        <span class="text-secondary" th:if="${phonetic.getLicense() != null}">
                            <span class="text-success" th:text="' ' + ${phonetic.getLicense().getName()} + ' '"></span>
                        </span>
                            </div>
                            <div class="col">
                                <i class="ri-volume-up-line fs-5" th:onclick="'document.getElementById(\'audio-'+${i.index} +'\').play();'" style="cursor: pointer"></i>
                                <audio th:id="'audio-'+${i.index}" controls th:src="${phonetic.getAudio()}" hidden="hidden">
                                    Your browser does not support the
                                    <code>audio</code> element.
                                </audio>
                                <span class="text-secondary" th:text="${phonetic.getText()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div class="section-title">
                    <h4 class="text-primary">Meanings</h4>
                </div>

                <div class="faq-list">
                    <ul th:each="meaning,i : ${word.getMeanings()}">
                        <li class="aos-init aos-animate section-bg">
                            <i class="bx bx-help-circle icon-help"></i>
                            <a data-bs-toggle="collapse" class="collapse collapsed fs-5"
                               th:data-bs-target="'#faq-list-'+ ${i.index}" aria-expanded="false">
                                Part Of Speech:
                                <span class="text-secondary" th:text=" ${meaning.getPartOfSpeech()}"></span>
                                <i class="bx bx-chevron-down icon-show"></i>
                                <i class="bx bx-chevron-up icon-close"></i>
                            </a>
                            <div th:id="'faq-list-'+ ${i.index}" class="collapse" data-bs-parent=".faq-list">
                                <p class="fs-5 px-5">
                                    Definition: <span class="text-secondary"
                                                      th:text="${meaning.getDefinitions().get(0).getDefinition()}"></span>
                                </p>
                                <p class="fs-5 px-5">
                                    Example: <span class="text-secondary"
                                                   th:text="${meaning.getDefinitions().get(0).getExample()}"></span>
                                </p>
                                <br>
                                <div class="text-end">
                                    <button class="btn btn-outline-primary">
                                        <a>
                                            Add to word list
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="my-2">
            </div>
        </section>
    </div>
</section>


<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script-js}"></th:block>
</body>
</html>