<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>

<div class="container2" id="container2">
    <div class="form-container register-container">
        <div class="form1">
            <h1>Register</h1>
            <br />
            <span class="loader"></span>
        </div>
    </div>
    <div class="form-container login-container">
        <div class="form1">
            <section id="loginForm">
                <form th:action="@{/login}" method="post" th:object="${loginForm}">
                    <h1>Login</h1>
                    <input class="input" type="email" placeholder="Email" id="username" th:field="*{email}">
                    <input class="input" type="password" placeholder="Password" id="password" th:field="*{password}">
                    <div class="checkbox">
                        <input class="d-inline" type="checkbox" name="checkbox" id="checkbox" onclick="showPassword()">
                        <span>Show password</span>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </section>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay" th:style="'background-image: url(/image/login/login.gif)'">
            <div class="overlay-panel overlay-left">
                <h1 class="title">
                    Hello <br />
                    friends
                </h1>
                <p>If Your have an account, login here and have fun</p>
                <button class="ghost" id="login">
                    Login <i class="lni lni-arrow-left login"></i>
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="title">
                    Start youth <br />
                    journey now
                </h1>
                <p>
                    If you don't have an account yet, join us and start your
                    journey.
                </p>
                <button class="ghost" id="register" onclick="action()">
                    Register <i class="lni lni-arrow-right register"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout :: script-js}"></th:block>

<script th:src="@{/js/script-login.js}"></script>
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style-login.css}" />
<script>
    function action(){
         setTimeout(function () {window.location.href="/register"; }, 1000);
    }
    function showPassword(){
    let password = document.getElementById ('password');
    if (password.type == 'text') {
        password.type = 'password';
    } else {
        password.type = 'text';
}
    }
</script>

</body>
</html>