<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
</head>
<body>

<div class="container2 right-panel-active" id="container2">
    <div class="form-container register-container">
        <div class="form1">
            <form th:action="@{/register}" method="post" th:object="${registerForm}">
                <h1>Register</h1>
                <input class="input" type="text" placeholder="Name" th:field="*{fullName}"/>
                <input class="input" type="email" id="email" th:field="*{email}" placeholder="Email" />
                <div>
                    <button type="button" class="btn btn-info" onclick="sendEmail()">
                        <i class="bi bi-send"></i>
                    </button>
                    <input class="verifycode" type="text" placeholder="Verify code" name="code"/>
                </div>
                </button>
                <input class="input" type="password" placeholder="Password" th:field="*{password}"/>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                    <select class="form-select" id="inputGroupSelect01" name="gender">
                        <option hidden="hidden" disabled selected>Choose...</option>
                        <option th:each="item: ${gender}" th:value="${item.key}"
                                th:text="${item.value}"></option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect02">Level</label>
                    <select class="form-select" id="inputGroupSelect02" name="level">
                        <option hidden="hidden" disabled selected>Choose...</option>
                        <option th:each="item: ${level}" th:value="${item.key}"
                                th:text="${item.value}"></option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect03">Occupation</label>
                    <select class="form-select" id="inputGroupSelect03" name="occupation">
                        <option hidden="hidden" disabled selected>Choose...</option>
                        <option th:each="item: ${occupation}" th:value="${item.key}"
                                th:text="${item.value}"></option>
                    </select>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <div class="form-container login-container">
        <div class="form1">
            <h1>Login</h1>
            <br />
            <span class="loader"></span>
        </div>

    </div>
    <div class="overlay-container">
        <div class="overlay" th:style="'background-image: url(/image/login/login.gif)'">
            <div class="overlay-panel overlay-left">
                <h1 class="title">
                    Hello <br />
                    friends
                </h1>
                <p>If your have an account, login here and have fun</p>
                <button class="ghost" id="login" onclick="action()">
                    Login <i class="lni lni-arrow-left login"></i>
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="title">
                    Start your <br />
                    journey now
                </h1>
                <p>
                    If you don't have an account yet, join us and start your journey.
                </p>
                <button class="ghost" id="register">
                    Register <i class="lni lni-arrow-right register"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout :: script-js}"></th:block>

<script th:src="@{/js/script-login.js}"></script>
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style-login.css}" />
<script>
    function action(){
         setTimeout(function () {window.location.href="/login"; }, 1000);
    }
    function getEmail(event){
    event.preventDefault();
        var inputEmail = document.getElementById("email").value;
        document.getElementById("input2").value = inputEmail;
        document.getElementById("formVerify").submit();
    }
    function sendEmail() {
  // Get the value from the input field
  var email = document.getElementById('email').value;

  // Create the request body as an object

  // Make the POST request using fetch
  fetch('http://localhost:4040/api/user/verify', {
    method: 'POST',
    headers: {
      'Content-Type': 'text/plain',
      'Access-Control-Allow-Origin':'http://localhost:8088'
    },
    body: email
  })
    .then(function(response) {
      if (response.ok) {
        console.log('Email sent successfully!');
      } else {
        console.log('Error sending email. Status code: ' + response.status);
      }
    })
    .catch(function(error) {
      console.log('Error sending email:', error);
    });
}
</script>
</body>
</html>