<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Dictionary</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <th:block th:replace="~{layout :: link-css-layout}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<section class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <form th:action="@{/exams}" th:object="${questions}" method="post" role="form">
            <div class="row justify-content-center">
                <div class="mx-0 mx-sm-auto mt-3" th:each="question, i : ${questions.getList()}">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <i class="ri-question-line text-primary h-100"></i>
                                <p>
                                    <b th:text="'Câu ' + ${i.index + 1} + ': '" class="text-primary"></b>
                                    <strong th:data-question-name="'question-'+${i.index}" th:text="${question.name}"></strong>
                                </p>
                            </div>
                            <hr/>
                            <div class="px-4">
                                <div class="form-check mb-2" th:each="answer, j : ${question.answers}">
                                    <input class="form-check-input" type="radio"
                                           th:data-input-name="'exampleForm-'+${i.index}"
                                           th:id="'radio-' + ${i.index} + ${j.index}" th:value="${true}"
                                           th:field="*{questions[__${i.index}__].answers[__${j.index}__].isCorrect}"
                                           onclick="checkAnswer(this.id)"/>
                                    <label class="form-check-label fs-6" th:for="'radio-' + ${i.index} + ${j.index}"
                                           th:text="${answer.answer}" style="cursor: pointer"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary" disabled>Submit</button>
            </div>
        </form>
    </div>
</section>
<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script-js}"></th:block>
</body>
</html>
<script>
    function checkAnswer(id) {
        var input = document.getElementById(id);
        var inputlist = document.querySelectorAll('[data-input-name="'+input.getAttribute('data-input-name')+'"]');
        for (var i = 0; i < inputlist.length; i++) {
            if (inputlist[i].id != id) {
                inputlist[i].checked = false;
                continue
            }
        }
        checkSubmit();
    }
    function checkSubmit() {
        var inputlist = document.querySelectorAll('[data-input-name]');
        var total = document.querySelectorAll('[data-question-name]').length;
        for (var i = 0; i < inputlist.length; i++) {
            if (inputlist[i].checked == true) {
                total--;
            }
        }
        if (total == 0) {
            document.querySelector('[type="submit"]').disabled = false;
            return;
        }
    }
</script>