<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Dictionary</title>
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <th:block th:replace="~{layout :: link-css-layout}"></th:block>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>

<section class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <!--        <form th:action="@{/exams}" th:object="${questionsDTO}" method="post">-->
        <div class="row justify-content-center">
            <div class="mx-0 mx-sm-auto mt-3" th:each="question, i : ${questions}">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <i class="ri-question-line text-primary h-100"></i>
                            <p>
                                <b th:text="'Câu '+${i.index+1}+': '" class="text-primary"></b>
                                <strong th:text="${question.getName()}"></strong>
                            </p>
                        </div>
                        <hr/>
                        <div class="px-4">
                            <div class="form-check mb-2" th:each="answer, j : ${question.getAnswers()}">
                                <input class="form-check-input" type="radio" th:name="'exampleForm-'+${i.index}" th:id="'radio-'+${i.index}+${j.index}" th:checked="${answer.getIsCorrect()}"/>
                                <label class="form-check-label fs-6" th:for="'radio-'+${i.index}+${j.index}" th:text="${answer.getAnswer()} + '---->' + ${answer.getIsCorrect()}" style="cursor: pointer"></label>
                            </div>

                        </div>
                    </div>
                    <!--                        <div class="card-footer text-end"><button type="button" class="btn btn-primary">Submit</button></div>-->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <!--        </form>-->
    </div>
</section>
<th:block th:replace="~{layout :: footer}"></th:block>
<th:block th:replace="~{layout :: script-js}"></th:block>
</body>
</html>